body {
    margin: 0px;
    background-color: rgb(250, 250, 250);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #000;
}

nav {
    display: grid;
    grid-template-columns: 500px 500px 200px;
    width: 78%;
    padding: 30px 11%;
    height: 30px;
    background-color: white;
    border-bottom: 1px solid #efefef;
}

a {
    text-decoration: none;
    color: #003569;
    font-weight: 500;
}

.nav__flexcontainer {
    display: grid;
    grid-template-columns: 20px 20px 50px;
}

.nav__icon {
    height: 23px;
    width: 23px;
    background-image: url(./assets/images/icons-sprite_small.png);
    background-repeat: no-repeat;
    background-position: -85px -100px;
}

.nav__border {
    font-size: 28px;
    padding: 0px 10px;
    height: 100%;
    margin-top: -10px;
}

.nav__logo {
    height: 35px;
    width: 105px;
    background-image: url(./assets/images/icons-sprite_small.png);
    background-repeat: no-repeat;
    background-position: -135px 5px;
}

.nav__searchicon {
    width: 15px;
    height: 15px;
    margin-left: 70px;
    margin-top: 5px;
    background-image: url(./assets/images/icons-sprite.png);
    background-repeat: no-repeat;
    background-position: -435px -342px;
    position: absolute;
}

.nav__searchwrapper:focus-within .nav__searchicon{
    display: none;
}

.nav__search {
    color: #999;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #efefef;
    padding: 4px 25px;
}

.nav__search::placeholder {
    text-align: center;
}

.blue__button {
    background-color: #3897f0;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.nav__register {
    color: #3897f0;
    background-color: transparent;
    border: none;
}

.profile {
    display: grid;
    grid-template-columns: 200px auto;
    width: 70%;
    margin: 3.5% 0 0 24%;
    height: 250px;
}

.profile__picture {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 70px;
    margin-right: -10%;
}

.profile__main {
}

.profile__name {
    font-size: 28px;
    font-weight: 300;
}

.profile__follow {
    height: 35px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 15px;
}

.profile__numbers {
    width: 35%;
    margin-top: 1.5%;
    color: #333;
    font-weight: 400;
}

.profile__description {
    width: 55%;
    margin-top: 2%;
    margin-bottom: 0px;
    line-height: 25px;
    color: #333;
    font-weight: 400;
}

.description__title {
    font-weight: 500;
    color: #000;
}

.description__text {
    margin: 0;
}

main {
    width: 60%;
    margin: auto;
}

.icons {
    display: grid;
    grid-template-columns: 75px 75px;
    width: 105%;
    height: 50px;
    border-top: 1px solid #efefef;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 10px;
}

.icons__posts {
    display: grid;
    grid-template-columns: 20px 50px;
    width: 9%;
    margin-right: 1%;
    margin-left: 500%;
}

.icons__tagged {
    display: grid;
    grid-template-columns: 20px 50px;
    width: 11%;
    margin-left: 1%;
    margin-left: 500%;
}

.posts {
    height: 18px;
    width: 18px;
    background-image: url(./assets/images/icons-sprite_small.png);
    background-repeat: no-repeat;
    background-position: -58px -158px;
    background-size: 200px;
}

.tagged {
    height: 18px;
    width: 18px;
    background-image: url(./assets/images/icons-sprite.png);
    background-repeat: no-repeat;
    background-position: -205px -5px;
    background-size: 230px;
}

.images {
    width: 105%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.images__post {
    width: 95%;
    height: 300px;
    margin: 3%;
}

.images__post img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

footer {
    display: grid;
    grid-template-columns: 925px 200px;
    width: 72%;
    margin: 50px 128px;
    font-size: 12px;
}

.links {
    width: 60%;
    margin: auto;
}

.copyright {
    font-weight: 500;
    color: #999;
}

@media screen and (max-width: 1440px){
    main { 
        height: 1300px;
    }

    footer {
        margin-top: -275px;
    }
}

@media screen and (max-width: 1025px){
    main {
        width: 120%;
        height: 800px;
    }

    .profile {
        grid-template-columns: 300px 500px;
    }

    .profile__picture {
        width: 200px;
    }
    
    .profile__numbers {
        width: 300px;
    }

    .profile__description {
        width: 500px;
    }

    .icons {
        margin-left: 15%;
    }

    .images__post {
        height: 400px;
        width: 95%;
    }

    footer {
        margin-top: 250px;
        margin-left: -25px;
        font-size: 10px;
        width: 100%;
    }

    .links {
        width: 80%;
    }

    footer {
        margin-top: 550px;
        grid-template-columns: 1100px 500px;
    }

    .links {
        display: grid;
        grid-template-columns: 80px 80px 60px 50px 70px 80px 60px 80px 80px 80px 80px ;

    }
}

@media screen and (max-width: 769px){
    nav {
        width: 175%;
        padding: 20px 10%;
        grid-template-columns: 500px 500px 200px;
        height: 30px;
    }

    .profile {
        margin-left: 300px;
        height: 250px;
        width: 700px
    }

    .icons {
        margin-left: 10px;
        padding-left: 10%;
    }
    main {
        margin: 0px 50px;
        width: 150%;
        height: 2000px;
    }

    .images__post {
        width: 95%;
        height: 400px;
        margin: 10px;
    }

    footer {
        width: 100%;
        margin-top: -670px;
    }
}

@media screen and (max-width: 376px){
    nav {
        width: 320%;
    }

    main {
        width: 120%;
        margin-left: 25px;
    }

    .images {
        width: 300%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }

    .images__post {
        width: 95%;
        height: 350px;
        margin: 10px;
    }

    footer {
        width: 200%;
        margin-top: -800px;
    }
}