body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.modal {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 60%;
    background-color: white;
}

figure  img{
    width: 100%;
    height: 106%;
    margin-top: -17px;
    margin-left: -41px;
}

figcaption {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: -70px;
    padding: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment {
    margin-top: -10px;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.buttons div{
    display: flex;
}

.heart__image {
    background-image: url(../assets/images/icons-sprite_small.png);
    height: 25px;
    width: 25px;
    background-position: 0px -156px;
    margin-right: 10px;
}


.speechbubble__image {
    background-image: url(../assets/images/icons-sprite_small.png);
    height: 25px;
    width: 25px;
    background-position: -56.5px -73px;
    margin-right: 15px;
}

.download__image {
    background-image: url(../assets/images/icons-sprite_small.png);
    height: 25px;
    width: 25px;
    background-position: -240px -156px;
    margin-right: 10px;
}

.banner__image {
    background-image: url(../assets/images/icons-sprite_small.png); 
    height: 25px;
    width: 25px;
    background-position: -240px -25px;
}

.info {
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 15px 0;
}

.date {
    font-size: 12px;
}

.register {
    display: flex;
    color: grey;
}

.register button {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    margin-bottom: 10px;
}